.header{
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  .container{
    @include container();
    .grid{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo{
        font-weight: 700;
        font-size: clamp(30px, 3vw ,45px);
        font-family: $font-family;
        z-index: 9999;
      }
      .sair{
        font-weight: 700;
        font-size: min( 22px,5vw);
        font-family: $font-family;
        text-transform: uppercase;
        z-index: 9999;
      }
    }
  }
}